@import "~bootstrap/scss/bootstrap";
@import "./index.scss";

$quotebox-color: #c6b753;

#quote-box {
  width: 450px;
  height: auto;
  background-color: $quotebox-color;
}

#buttons {
  height: 50px;
}

#author {
  margin-inline-end: 49px;
}

#quote-footer {
  background-color: $body-color;
}

.btn-primary {
  background-color: $body-color;
  border-color: $body-color;
  --bs-btn-active-color: $body-color;
  --bs-btn-active-bg: #{shade-color($body-color, 20%)};
  --bs-btn-active-border-color: #{shade-color($body-color, 20%)};
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: shade-color($body-color, 10%);
  color: white;
  border-color: shade-color($body-color, 10%);
}

/*
.App {
  text-align: center;
  color: cadetblue;
  background-color: brown;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
*/
